.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calc-wrapper {
  width: 400px;
  height: 610px;
  outline: 1px solid black;
  background-color: black;
}

.row {
  display: flex;
  border-radius: 50%;
  width: 100%;
}

.but {
  flex: 1;
  border-radius: 50%;
  border-color: black
}